@use './variables';

html{
    font-size: 62,5%;
}

a {
    text-decoration: none;
    color: variables.$colorTexto;
  }

p {
    color: variables.$colorTexto;
    text-align: justify;
    font-family: variables.$fuenteTexto;
    opacity: 0.8;
    padding-left: 1rem;
    padding-right: 1rem;
    }
.tituloHtml {
        text-align: center;
        color: variables.$colorTitulo;
        font-family: variables.$fuenteTitulo;
        font-weight: bold;
        opacity: 0.9; 
    }
    
.textos {
        display: flex;
        width: 75%;
        margin-top: 3rem;
        margin-left: 11rem;
        margin-bottom: 3rem;
    }
    
.titulo, h3 {
        @extend .tituloHtml;
        opacity: variables.$opacityGral;
    }
.video1 {
        opacity: variables.$opacityGral;
        margin-right: 1rem;
       }
.mainPages {
        padding-top: 7rem;
    }

