@use './variables';

@mixin background {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.registro, .material, .seguimiento {
    .titulosComoFunciona {
        display:flex;
        align-items: center;
    }
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    }    

.testimonios {
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

@media (min-width: 720px) {
        .bodyComoFunciona {
            background-image: url("../img/fondoQuienesSomos.jpg"), url("../img/fondo2.jpg");
            @include background;
        }
    }

@media (max-width: 720px) {
    .bodyComoFunciona {
        .mainPages{
            .registro, .material, .seguimiento {
                .titulosComoFunciona {
                    align-items: center;
                    justify-content: center;
                }
                margin-left: 0rem;
                margin-right: 0rem;
                }   
            .material_desktop {
                display:none;
            }
            .testimonios {
                margin-left: 0rem;
                margin-right: 0rem;
                margin-top: 1rem;
                width: 100%; 
            }
        }
        background-image: url("../img/fondoComoFuncionaMobile.jpg");
        @include background;
    }
}

@media (min-width: 720px) {
    .bodyComoFunciona {
        .mainPages{
            .material_mobile {
                display: none;
            }
        }
    }
}