.bodyCursos {
    .cursos {
        display: flex;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        align-items: center;
    }
    background-image: url("../img/fondo.jpg"), url("../img/fondo2Cursos.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

@media (min-width: 720px) {
    .cursos_mobile {
        display:none;
    }
}

@media (max-width: 720px) {
    .cursos {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }
    .cursos_desktop {
        display: none;
    }
    .bodyCursos {
        background-image: url("../img/fondoCursosMobile.jpg");
    }
}


