@use './variables';

footer {
    .footer1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .CDGV {
        text-align: center;
    }
    font-family: variables.$fuenteTexto;
    color: variables.$colorTexto;
    text-align: center;
    margin-left: 13rem;
    margin-right: 13rem;
    opacity: 0.5;
    font-size: 90%;
}

@media (max-width: 720px) {
    #footer {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}