@use './variables';

.nav {
    .nav_ul_dropdown-menu {
        li{
            .suscribirme2{
                background-color: #DC8904;
                border-radius: 10px;
                border-color: #DC8904;
                margin: 1rem;
                &:hover {
                    background-color: #ff9e01;
                }
        }
        margin: 1rem;
        }
        background-color:#decfb6;
        text-align: center;
    }
    .logo {
        width: 60px;
        height: 60px;
        margin-left: 10rem;
    }
    .nav_cursos { 
        margin-right: 25rem;
    }
    .nav-link {
        border-radius: 10px;
        &:hover {
            background-color: variables.$colorTexto;
        }   
    }
    .label_nav {
        text-align: center;
    }
    background-color:#b4a180;
    width: 100%;
    position: fixed;
    font-family: variables.$fuenteTexto;
}

@media (max-width: 720px) {
        .navbar{
            .div_nav{
                .logo {
                    margin-left: 0rem}
            }
        }
}