@use './variables';

.bodySuscribirte {
    .form_suscribirme {
        .form-select {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        .suscribirme {
            background-color: #DC8904;
            border-radius: 10px;
            border-color: #DC8904;
            &:hover {
                background-color: #ff9e01;
            }
        }
        color: #b4a180;
        text-align: center;
        margin: 0 auto;
        width: 30%;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    background-image: url("../img/fondoSuscribirte.jpg");
}

@media (max-width: 720px) {
    .bodySuscribirte{
        .mainPages{
            .form_suscribirme{
                width: 90%
            }
        }
    }
}